* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: rgb(53, 131, 233);
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding-left: 20px;
}

.menu {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
}

.menu:hover {
    background-color: rgba(255, 0, 0, 0.2);
}